body{
  margin: 0;
  font-family: "Malgun Gothic", sans-serif;
  background: url("https://ag-spots-2017.o.auroraobjects.eu/2017/02/19/other/2880-1800-crop-nissan-skyline-r34-gt-r-v-spec-ii-nur-c441319022017180642_1.jpg") no-repeat;
  background-size: cover;
}
.login-box{
  width: 80px;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-30,-40);
  color: white;
}
.login-box h1{
  float: top;
  font-size: 40px;
  border-bottom: 6px solid #0000FF;
  margin-bottom: 10px;
  padding: 13px 0;
}
.textbox{
  width: 300px;
  border-left: 300px;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 3px solid #0000FF;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 300px;
  background: none;
  border: 2px solid #0000FF;
  color: white;
  padding: 2px;
  font-size: 18px;
  margin: 8px 0;
}